extends layout

block content
  h1= name
  p #{item.description}
  p #[Strong Date Added: ]#{item.date_added_formatted}
  p #[Strong Price:] RM #{item.price}
  p #[Strong Availability: ]
  if item.stock=="Available"
    p.text-success #{item.stock}
  if item.stock=="Preorder"
    p.text-warning #{item.stock}
  br
  p
  | Find more items in 
  a(href=item.category.url) #{item.category.name}
  |  category
